.finance-theme{
    --primary-color: #367696 !important;
    --pale-color: #367696bb
}

.expand-collapse{
    cursor: pointer;
    border: 1px solid black;
    margin-left: 8px;
    border-radius: 24px;
    width: 16px;
    text-align: center;
    height: 16px;
}


.info h4{
    margin-top: 0px;
    margin-bottom:8px;
    display: flex;
}

.finance-item-container .info{
    flex: 1;
}

.info .date{
    color: gray;
    font-size: 10px;
}


.edit{
    margin-top: 4px;
    cursor: pointer;
    color: var(--primary-color);
}

.tags{
    display: flex;
    font-size: 10px;
    flex: 2;
    align-items: flex-end;
    margin-top: 8px;
}


.tag-filter{
    margin-bottom: 8px;
}

.tag-filter input{
    width: 97%;
    margin-bottom: 4px;
}
