.navbar{
    padding-left: 100px;
    padding-right: 100px;
    background-color: teal;
    display: flex;
}

.navbar button{
    background-color: teal;
    border: none;
    color: aliceblue;
    font-size: 12px;
    float: 1;
    cursor: pointer;
    padding-bottom: 8px;
    padding-top: 8px;
    flex: 1;


}

.navbar button:hover{
    background-color: rgb(2, 201, 201);
}