.education-theme{
    --primary-color: #362f76 !important;
    --pale-color: #362f76bb !important;
}


.books-section{
    margin-left: 24px;
}

.book-container{
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
    display: flex;
}

.entry{
    display: flex;
    flex-direction: column;
}

.book-container .tools{
    margin-left: 8px;
}


.book-container .info{
    flex: 1;
}

.books-form{
    display: flex;
    border:1px solid black;
    padding: 8px;
    flex-direction: column;
    border-radius: 8px;
}

.books-form label{
    margin-top: 12px;
    margin-bottom: 8px;
}

.books-form button{
    margin-top: 8px;
}