.dashboard-container{
  display: flex;

}

.dashboard-column{
  flex: 1;
  padding: 24px;
}

.dashboard-column.main{
  flex: 2;
}

.dash-list{
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.dash-item{
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
}

.delete{
  border-radius: 24px;
  width: 16px;
  text-align: center;
  height: 16px;
  border: 1px solid maroon;
  color: maroon;
  cursor: pointer;
}
.dash-item .tools{
  padding-left: 8px;
}
.dash-item .info{
  flex: 1;
}

.dash-item-form{
  display: flex;
  margin-top: 16px;
  border:1px solid black;
  padding: 8px;
  flex-direction: column;
  border-radius: 8px;
}

.dash-item-form label{
  margin-top: 12px;
  margin-bottom: 8px;
}

.dash-item-form button{
  margin-top: 8px;
}

.dash-item-form input{
  margin-top: 8px;
}


.dash-item-form textarea{
  margin-top: 8px;
}


progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;

/* Get rid of default border in Firefox. */
border: none;
  border-radius: 4px;
}
progress::-moz-progress-bar {
  border-radius: 4px;
}

.green progress::-moz-progress-bar{
  background-color: green;

}

.red progress::-moz-progress-bar{
  background-color: rgb(213, 42, 42);
}