:root {
  --primary-color: #8f9596;
  --pale-color: #7e8485;
}

.navbar{
  padding-left: 100px;
  padding-right: 100px;
  background: var(--primary-color);
  display: flex;
}

.navbar button{
  background-color: var(--primary-color);
  border: none;
  color: aliceblue;
  font-size: 12px;
  float: 1;
  cursor: pointer;
  padding-bottom: 8px;
  padding-top: 8px;
  flex: 1;


}

.navbar button:hover{
  background-color: var(--primary)
}

.dashboard-container{
  display: flex;
}

.dashboard-column{
  flex: 1;
  padding: 24px;
}

.dashboard-column .header{
  margin-bottom: 16px;
}

.dashboard-column.main{
  flex: 2;
}

.dash-list{
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.dash-item{
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
}

.delete{
  border-radius: 24px;
  width: 16px;
  text-align: center;
  height: 16px;
  border: 1px solid maroon;
  color: maroon;
  cursor: pointer;
}
.dash-item .tools{
  padding-left: 8px;
}
.dash-item .info{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dash-item-form{
  display: flex;
  margin-top: 16px;
  border:1px solid black;
  padding: 8px;
  flex-direction: column;
  border-radius: 8px;
}

.dash-item-form label{
  margin-top: 12px;
  margin-bottom: 8px;
}

.dash-item-form button{
  margin-top: 8px;
  border-radius: 8px;
  color: aliceblue;
  border: 1px solid var(--primary-color);
  background-color: var(--pale-color) !important;
}

.dash-item-form input{
  margin-top: 8px;
}


.dash-item-form textarea{
  margin-top: 8px;
}


.dropdown-container{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px; 
  background-color: gainsboro;
}

.dropdown-option{
  cursor:pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.dropdown-container .dropdown-option:hover{
  background: var(--primary-color);
  border-radius: 4px;
}

.pill{
  border: 1px solid gray;
  background-color: gainsboro;
  display: inline;
  padding: 4px;
  border-radius: 24px;
  font-size: 8px;
  cursor: pointer;
}

progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;

/* Get rid of default border in Firefox. */
border: none;
  border-radius: 4px;
}
progress::-moz-progress-bar {
  border-radius: 4px;
  background-color: #06466d;
}

.green progress::-moz-progress-bar{
  background-color: var(--primary-color);

}

.red progress::-moz-progress-bar{
  background-color: rgb(213, 42, 42);
}